alembic==1.0.7
aniso8601==4.1.0
Babel==2.6.0
blinker==1.4
Click==7.0
dnspython==1.16.0
email-validator==1.0.3
Flask==1.0.2
Flask-Babel==0.12.2
Flask-Cors==3.0.7
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.0
python-dateutil==2.8.0
pytz==2018.9
six==1.12.0
SQLAlchemy==1.2.18
Werkzeug==0.15.3
WTForms==2.2.1
