<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/chatbox_styles.css">
    <link rel="stylesheet" href="static/css/chatbox_typing.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XChatbox</title>
</head>

<body>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox-image--header">
                        <img src="#" alt="profile pic">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Site Helper</h4>
                        <p class="chatbox__description--header">We here to guide you,Please feel free to ask your
                            querries..</p>
                    </div>
                </div>
                <div class="messages">
                    <div>
                        <div class="messages__item--visitor">
                            Hi! What is your querry?
                        </div>
                        <div class="messages__item--visitor">
                            What is your alert name?
                        </div>
                        <div class="messages__item--operator">
                            What is it?
                        </div>
                        <div class="messages__item--visitor">
                            What is your alert name?
                        </div>
                        <div class="messages__item--operator">
                            What is it?
                        </div>
                        <div class="messages__item--visitor">
                            What is your alert name?
                        </div>
                        .<div class="messages__item--typing">
                            <span class="messages__dot"></span>
                            <span class="messages__dot"></span>
                            <span class="messages__dot"></span>
                        </div>
                    </div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message">
                    <p class="chatbox__send--footer">Send</p>
                </div>
            </div>

            <div class="chatbox__button">
                <button class="chatbox__button--footer"> button!</button>
            </div>
        </div>
    </div>

    <script src="static/js/chatbox_app.css"></script>
    <script src="static/css/chatbox_chat.css"></script>
</body>

</html>