{% trans
    project_name=project.name,
    reset_link=url_for(".reset_password", _external=True, token=project.generate_token(token_type="reset"))
%}Hi,

You requested to reset the password of the following project: "{{ project_name }}".
You can reset it here: {{ reset_link }}.
This link is only valid for one hour.
{% endtrans %}