{% extends "sidebar_table_layout.html" %}

{% block sidebar %}
    <div id="table_overflow" class="statistics mr-md-n3">
        {{ balance_table(show_weight=False, show_header=True) }}
    </div>
{% endblock %}


{% block content %}
    <div class="d-flex flex-column">
        <table id="bill_table" class="split_bills table table-striped ml-md-n3">
            <thead><tr><th class="d-md-none">{{ _("Who?") }}</th><th>{{ _("Paid") }}</th><th>{{ _("Spent") }}</th></tr></thead>
        <tbody>
        {% for stat in members_stats|sort(attribute='member.name') %}
        <tr>
            <td class="d-md-none">{{ stat.member.name }}</td>
            <td>{{ stat.paid|currency }}</td>
            <td>{{ stat.spent|currency }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <h2>{{ _("Expenses by Month") }}</h2>
        <table id="monthly_stats" class="table table-striped">
            <thead><tr><th>{{ _("Period") }}</th><th>{{ _("Spent") }}</th></tr></thead>
        <tbody>
        {% for month in months %}
                <tr>
                    <td>{{ _(month.strftime("%B")) }} {{ month.year }}</td>
                    <td>{{ monthly_stats[month.year][month.month]|currency }}</td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
        <h2> {{ _("Visualization") }}</h2>
        
        
        <!-- Required for some style in charts, feel free to move from here -->
        <style>
        #balanceBar .bb-ygrid-line line {stroke: red;}

        #balanceBar .fill_green { fill: green; }
        #balanceBar .fill_red { fill: red; }
        </style>
        <br>
        <div id="balanceBar"></div>
        <br>
        <div id="memberPerMonth"></div>
        <br>
        <div id="combinedPerMonth"></div>
        <br>
        <div id="expPie"></div>
        


        
        

        

        <script> 
        var members = [];
        var total_per_member = ['CurrentBalance'];
        var total_exp_per_member = {};
        var balance_min_value = Number.POSITIVE_INFINITY;
        var balance_max_value = Number.NEGATIVE_INFINITY;
        {% for stat in members_stats %}
            var member_name = "{{ stat.member.name }}"
            members.push(member_name)
            var val = {{ stat.balance }};
            total_per_member.push(val);
            total_exp_per_member[member_name] = 0;
            if (val > balance_max_value) {
                balance_max_value = val;
            }
            if (val < balance_min_value) {
                balance_min_value = val;
            }
        {% endfor %}
        //TODO: Remove this, its for debugging.
        members.forEach(function(entry) {
            console.log(entry);
        });
        //TODO: Remove this, its for debugging.
        total_per_member.forEach(function(entry) {
            console.log(entry);
        });

        // Start of current balance per month chart
        var balance_bar = bb.generate({
            title: {
                text: "Current Balance per Member"
            },
            data: {
                columns: [
                    total_per_member
                ],
                type: "bar",
                colors: {
                    CurrentBalance: "#999C9F",
                }
            },
            axis: {
                x: {
                    type: "category",
                    categories: members
                },
                y: {
                    label: "Expenditure"
                }
            },
            grid: {
                y: {
                    lines: [
                        {
                            value: 0
                        }
                    ]
                }
            },
            regions: [
                {
                    axis:"y",
                    start: 0,
                    end: balance_max_value,
                    class: "fill_green"
                },
                {
                    axis:"y",
                    start: balance_min_value,
                    end: 0,
                    class: "fill_red"
                }
            ],
            bar: {
                width: {
                    ratio: 0.5
                }
            },
            bindto: "#balanceBar"
        });
        // End of current balance per month chart

       

        // Start of chart for total expenditure per month
        var months =[];
        var exp_per_month = [];
        {% for month in months %}
            var month_year = "{{ _(month.strftime("%B")) }} {{ month.year }}";
            months.push(month_year);
            exp_per_month.push({{ monthly_stats[month.year][month.month] }});
        {% endfor %}
        months.reverse();
        exp_per_month.reverse()
        exp_per_month.splice(0,0,"Combined Monthly Expenditure");
        //TODO: Remove this, its for debugging.
        months.forEach(function(entry) {
            console.log(entry);
        });

        var exp_per_month_chart = bb.generate({
            title: {
                text: "Combined Monthly Expenditure"
            },
            data: {
                columns: [
                    exp_per_month
                ],
                type: "line",
            },
            axis: {
                x: {
                    type: "category",
                    categories: months
                },
                y: {
                    label: "Expenditure"
                }
            },
            bindto: "#combinedPerMonth"
        });
        // End of total expenditure per month chart

        // Start of expenditure per member per month chart
        var members_exp_by_month = [];
        {% for stat in members_stats|sort(attribute='member.name') %}
            var month_dict = [];
            var month_amount = {};
            {% for data in stat.monthly_exp %} 
                // data is a tuple with a datetime object (Mon Year) at index 0 and amount at idx 1.
                month_dict.push({
                    date: "{{ _(data[0].strftime("%B")) }} {{ data[0].year }}",
                    amount: {{ data[1] }}
                });
                var date = "{{ _(data[0].strftime("%B")) }} {{ data[0].year }}";
                month_amount[date] = {{ data[1] }};
                total_exp_per_member["{{ stat.member.name }}"] += {{ data[1] }};
            {% endfor %}
            month_dict.reverse();
            
            members_exp_by_month.push({
                name: "{{stat.member.name}}",
                exp_by_month: month_dict,
                member_months: month_amount,
            });
        {% endfor %}
        var member_exp_dict = {};

        members_exp_by_month.forEach(function(member) {  
            // inserting the name of the member as the first element of the array, as per bb docs
            member_exp_dict[member.name] = [member.name];
        });
        var chart_columns = [];
        months.forEach(function(month) {
            members_exp_by_month.forEach(function(member) {  
                // If current member had expenditure on current month
                if (month in member.member_months) {
                    member_exp_dict[member.name].push(member.member_months[month]);
                } else {
                    member_exp_dict[member.name].push(0);
                }
            });
        });
        console.log(member_exp_dict);
        // Pushing each individual member's expenditure per month array into the chart array
        // chart array is what is given to bb.generate
        members_exp_by_month.forEach(function(member) {
            chart_columns.push(member_exp_dict[member.name]);
        });
        var members_exp_month_chart = bb.generate({
            title: {
                text: "Monthly Expenditure Per Member"
            },
            data: {
                columns: chart_columns,
                type: "line"
            },
            axis: {
                x: {
                    type: "category",
                    categories: months,
                },
                y: {
                    label: "Expenditure"
                }
            },
            bindto: "#memberPerMonth"
        });
        
        //end of expenditure per month per member

        // Start of Expenditure Pie Chart
        pie_cols = [];
        members_exp_by_month.forEach(function(member) {
            var particpant = member.name;
            var spent = total_exp_per_member[member.name];
            var exp_arr = [particpant, spent];
            pie_cols.push(exp_arr);
        })
        console.log(pie_cols);
        var pie = bb.generate({
            data: {
                columns: pie_cols,
                type: "pie",
            },
            bindto: "#expPie"
        });

        // End of Expenditure Pie Chart
        </script>
    </div>

{% endblock %}
