[Unit]
Description=I hate money
Requires=network.target postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
User=ihatemoney
WorkingDirectory=/var/lib/ihatemoney
ExecStart=/var/lib/ihatemoney/bin/gunicorn -c /etc/ihatemoney/gunicorn.conf.py ihatemoney.wsgi:application
SyslogIdentifier=ihatemoney

[Install]
WantedBy=multi-user.target
