{% extends "layout.html" %}
{% block content %}
<h2>Computations</h2>

<div class="container span-16">
    <ol>
        <li>For each person, get the list of bills he have to pay</li>
        <li>Increase the amount this person have to pay</li>
        <li>At the same time, increase what the payer of the bill have to receive</li>
        <li>At the end, for each person, substract what he have to pay to what he have to receive</li>
    </ol>
</div>

<div class="container span-6 last">
    <a class="awesome large green button" href="{{ url_for("reset_bills") }}">Mark this as payed / processed</a>
</div>

<table>
    <thead><tr><th>Name</th><th>Balance</th></tr></thead>
    <tbody>
{% for name, balance in balances.items() %}
        <tr><td>{{ name }}</td><td>{{ balance }}</td></tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
