{% macro input(field, multiple=False) -%}
      <div class="clearfix">

        {% if field.type != "SubmitField" %}
            {{ field.label }}
        {% endif %}
        <div class="input">
            {% if multiple == True %}
                {{ field(multiple=True) }}
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.description %}
                <span class="help-inline">{{ field.description }}</span>
            {% endif %}
        </div>
      </div> <!-- /clearfix -->
{% endmacro %}

{% macro submit(field, cancel=False, home=False) -%}
    <div class="actions">
        <button type="submit" class="btn primary">{{ field.name }}</button>
        {% if home %}
        <a href="{{ url_for(".remind_password") }}">{{ _("Can't remember the password?") }}</a>
        {% endif %}
        {% if cancel %}
        <button id="cancel-form" type="reset" class="btn">{{ _("Cancel") }}</button>
        {% endif %}
      </div>
{% endmacro %}

{% macro authenticate(form, home=False) %}

    {% include "display_errors.html" %}

    {{ form.hidden_tag() }}
    {{ input(form.id) }}
    {{ input(form.password) }}
    {% if not home %}
    {{ submit(form.submit, home=True) }}
    {% endif %}

{% endmacro %}

{% macro create_project(form, home=False) %}

    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {% if not home %}
    {{ input(form.id) }}
    {% endif %}
    {{ input(form.name) }}
    {{ input(form.password) }}
    {{ input(form.contact_email) }}
    {% if not home %}
    {{ submit(form.submit, home=True) }}
    {% endif %}

{% endmacro %}

{% macro edit_project(form) %}

    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {{ input(form.name) }}
    {{ input(form.password) }}
    {{ input(form.contact_email) }}
    {{ submit(form.submit) }}

{% endmacro %}

{% macro add_bill(form, edit=False) %}

    <fieldset>
        <legend>{% if edit %}{{ _("Edit this bill") }} {% else %}{{ _("Add a bill") }} {% endif %}</legend>
    {% include "display_errors.html" %}
    {{ form.hidden_tag() }} 
    {{ input(form.date) }} 
    {{ input(form.what) }} 
    {{ input(form.payer) }} 
    {{ input(form.amount) }} 
    {{ input(form.payed_for) }} 
    </fieldset>
    {{ submit(form.submit, cancel=True) }}

{% endmacro %}

{% macro add_member(form) %}
    {{ form.hidden_tag() }}
    {{ form.name }}
    <button class="btn">{{ _("Add a new user") }}</button>

{% endmacro %}

{% macro invites(form) %}
    {{ form.hidden_tag() }}
    {{ input(form.emails) }}
    <div class="actions">
        <button class="btn primary">{{ _("Send the invitations") }}</button>
        <a href="{{ url_for(".list_bills") }}">{{ _("No, thanks") }}</a>
    </div>
{% endmacro %}

{% macro create_archive(form) %}
    <fieldset>
        <legend>{{ _("Create an archive") }}</legend>
    {{ form.hidden_tag() }}
    {{ input(form.start_date) }}
    {{ input(form.end_date) }}
    </fieldset>
    <div class="actions">
        <button class="btn">{{ _("Create the archive") }}</button>
    </div>
{% endmacro %}

{% macro remind_password(form) %}

    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {{ input(form.id) }}
    {{ submit(form.submit) }}

{% endmacro %}
