{% extends "layout.html" %}


{% block header %}
<div id="header" class="container-fluid">
    <div class="row-fluid">
        <div class="span5 offset2">
            <h2>{{ _("Manage your shared <br>expenses, easily") }}</h2>
            <a href="{{ url_for(".demo") }}" class="tryout btn btn-inverse pull-right">{{ _("Try out the demo")  }}</a>
        </div>
        <div class="span4">
            <p class="additional-content">{{ _("You're sharing a house?") }}<br /> {{ _("Going on holidays with friends?") }}<br /> {{ _("Simply sharing money with others?") }} <br /><strong>{{ _("We can help!") }}</strong></p>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid home">
        <div class="span4 offset2">
            <form id="authentication-form" class="form-horizontal" action="{{ url_for(".authenticate") }}" method="post">
                <fieldset>
                    <legend>{{ _("Log to an existing project") }}...</legend>
                    {{ forms.authenticate(auth_form, home=True) }}
                </fieldset>
                <div class="controls">
                    <button class="btn" type="submit">{{ _("log in") }}</button>
                    <a class="password-reminder" href="{{ url_for(".remind_password") }}">{{ _("can't remember your password?") }}</a>
                </div>
            </form>
        </div>
        <div class="span4">
            <form id="creation-form" class="form-horizontal" action="{{ url_for(".create_project") }}" method="post">
                <fieldset>
                    <legend>...{{ _("or create a new one") }}</legend>
                    {{ forms.create_project(project_form, home=True) }}
                </fieldset>
                <div class="controls">
                    <button class="btn" type="submit">{{ _("let's get started") }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

$('#creation-form #password').tooltip({
    title: '{{ _("This access code will be sent to your friends. It is stored as-is by the server, so don\\'t reuse a personal password!") }}',
    trigger: 'focus',
    placement: 'right'
});

{% endblock %}
