<!DOCTYPE html>
<html>
<head>
<title>Account manager</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div class="container" class="span-24">
    <div id="title">
            <a href="/"><h1>Account manager ! <span class="small">Manage your shared expenses.</span></h1></a>
    <hr>
        <div class="fright" id="topmenu">
            {% block top_menu %}{% endblock %}
        </div>
    </div>
    {% for message in get_flashed_messages() %}
        <div class=info>{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
    <div id="footer"></div>
</div>
</body>
</html>
