{% import "forms.html" as forms %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ _("Account manager") }}{% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for("static", filename='main.css') }}">
    <script src="{{ url_for("static", filename="jquery/js/jquery-1.6.2.min.js") }}"></script>
    {% block head %}{% endblock %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var left = window.innerWidth/2-$('.flash').width()/2;
            $(".flash").css({ "left": left+"px", "top":"45px" });
            setTimeout(function(){
                $(".flash").fadeOut("slow", function () {
                    $(".flash").remove();
                });
            }, 4000);
            $("body").bind("click", function(e) {
                $("ul.menu-dropdown").hide();
                $('a.menu').parent("li").removeClass("open").children("ul.menu-dropdown").hide();
            });

            $("a.menu").click(function(e) {
                var $target = $(this);
                var $parent = $target.parent("li");
                var $siblings = $target.siblings("ul.menu-dropdown");
                var $parentSiblings = $parent.siblings("li");
                if ($parent.hasClass("open")) {
                    $parent.removeClass("open");
                    $siblings.hide();
                } else {
                    $parent.addClass("open");
                    $siblings.show();
                }
                $parentSiblings.children("ul.menu-dropdown").hide();
                $parentSiblings.removeClass("open");
                return false;
            });

            {% block js %}{% endblock %}
        });
    </script>
</head>
<body style="margin-top: 50px;">
{% macro translations() %}
<li {% if g.lang == "fr" %}class="active"{% endif %}><a href="{{ url_for(".change_lang", lang="fr") }}">fr</a></li>
<li {% if g.lang == "en" %}class="active"{% endif %}><a href="{{ url_for(".change_lang", lang="en") }}">en</a></li>
{% endmacro %}
<div class="topbar">
    <h3><a class="logo" href="{{ url_for(".home") }}">#! money?</a></h3>
    {% if g.project %}
    <ul>
        <li class="active"><a href="{{ url_for(".list_bills") }}">{{ _("Bills") }}</a></li>
    </ul>
    <ul class="nav secondary-nav">
      <li class="menu">
      <a href="#" class="menu"><strong>{{ g.project.name }}</strong> {{ _("options") }}</a>
        <ul class="menu-dropdown" style="display: none; ">
            <li><a href="{{ url_for(".edit_project") }}">{{ _("Project settings") }}</a></li>
          <li class="divider"></li>
           {% for id, name in session['projects'] %}
           {% if id != g.project.id %}
           <li><a href="{{ url_for(".list_bills", project_id=id) }}">{{ _("switch to") }} {{ name }}</a></li>
            {% endif %}
           {% endfor %}
           <li><a href="{{ url_for(".create_project") }}">{{ _("Start a new project") }}</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for(".exit") }}">{{ _("Logout") }}</a></li>
        </ul>
      </li>
    {{ translations() }}
    </ul>
    {% else %}
    <ul class="nav secondary-nav">
    {{ translations() }}
    </ul>
    {% endif %}
</div>
{% block header %}{% endblock %}
{% block container %}
<div class="container-fluid" style="height: 100%; padding-left: 10px;">
    {% block sidebar %}{% endblock %}
    <div class="content" style="margin-left: 250px;">
    {% block content %}
    {% endblock %}
    </div>
</div>
    {% for message in get_flashed_messages() %}
        <div class="flash alert-message info" style="position:absolute;"><p>{{ message }}</p></div>
    {% endfor %}
{% endblock %}
{% block footer %}
<div id="footer">
    <p><a href="https://github.com/spiral-project/ihatemoney">{{ _("This is a free software") }}</a>, {{ _("you can contribute and improve it!") }}</p>
</div>
{% endblock %}

</body>
</html>
