{% import "forms.html" as forms %}
<!DOCTYPE html>
<html>
<head>
<title>Account manager</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">{% block js %}{% endblock %}</script>
</head>
<body>

<div class="container" class="span-24">
    <div id="title" class="span-20">
        <a href="/"><h1>Account manager ! <span class="small">Manage your shared expenses.</span></h1></a></div>
    <div class="span-4 last" id="topmenu">
        {% block top_menu %}{% endblock %}
    </div>
    <hr>
    {% for message in get_flashed_messages() %}
        <div class=info>{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
    <div id="footer"></div>
</div>
</body>
</html>
