{% extends "layout.html" %}

{% block title %}- {{ g.project.name }}{% endblock %}
{% block head %}
    <script src="{{ url_for("static", filename="js/jquery-ui.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-modal.js") }}"></script>
    {% if g.lang != "en" %}
    <script src="{{ url_for("static", filename="js/i18n/jquery.ui.datepicker-%s.js" % g.lang ) }}"></script>
    {% endif %}
{% endblock %}
{% block js %}

    // specifies that the text in #name text field has to be hidden on user typing
    auto_hide_default_text('#name');

    $(window).resize(function() {
        $("#sidebar").height( window.innerHeight-50 );
        $("#table_overflow").height( $("#sidebar").height()-120 );
    });

    $('#cancel-form').click(function(){
        $('#bill-form').modal('hide');
    });

    {% if add_bill %} $('#new-bill').click(); {% endif %}

    // ask for confirmation before removing an user
    $('.action').each(function(){
        $(this).hide();
        var link = $(this).find('button');
        link.click(function(){
            if ($(this).hasClass("confirm")){
                return true;
            }
            $(this).html("{{_("you sure?")}}");
            $(this).addClass("confirm");
            return false;
        });
    });

    // display the remove button on mouse over (and hide them per default)
    $('.balance tr').hover(function(){
        $(this).find('.action').show();
    }, function(){
        $(this).find('.action').hide();
    });

    $.datepicker.setDefaults({'dateFormat': 'yy-mm-dd'});
    $(".datepicker").datepicker($.datepicker.regional['{{ g.lang }}']);
    
    
    var highlight_owers = function(){
        var ower_ids = $(this).attr("owers").split(',');
        var payer_id = $(this).attr("payer");
        $.each(ower_ids, function(i, val){
            $('#bal-member-'+val).addClass("ower_line");
        });
        $("#bal-member-"+payer_id).addClass("payer_line");
    };
    
    var unhighlight_owers = function(){
        $('[id^="bal-member-"]').removeClass("ower_line payer_line");
    };
    
    $('#bill_table tbody tr').hover(highlight_owers, unhighlight_owers);
    
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="sidebar">

    <form action="{{ url_for(".add_member") }}" method="post">
        {{ forms.add_member(member_form) }}
    </form>

    <div id="table_overflow">
    <table class="balance">
    {% set balance = g.project.balance %}
    {% for member in g.project.members | sort(attribute='name') if member.activated or balance[member] != 0 %}
    <tr id="bal-member-{{ member }}" action={% if member.activated %}delete{% else %}reactivate{% endif %}>
        <td class="balance-name">{{ member.name }}</td>
        <td class="balance-value {% if balance[member] > 0 %}positive{% elif balance[member] < 0 %}negative{% endif %}">
            {% if balance[member] > 0 %}+{% endif %}{{ balance[member] }}
        </td>
        {% if member.activated %}
        <td class="action delete">
            <form action="{{ url_for(".remove_member", member_id=member) }}" method="POST">
                <button type="submit">{{ _("delete") }}</button></form></td>
        {% else %}
        <td class="action reactivate">
            <form action="{{ url_for(".reactivate", member_id=member.id) }}" method="POST">
                <button type="submit">{{ _("reactivate") }}</button></form></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="identifier">{{ _("The project identifier is") }} <a href="{{ url_for(".list_bills") }}">{{ g.project.id }}</a>, {{ _("remember it!") }}</div>
<a id="new-bill" href="{{ url_for(".add_bill") }}" class="btn primary" data-controls-modal="bill-form" data-backdrop="true" data-keyboard="true">{{ _("Add a new bill") }}</a>

    <div id="bill-form" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>{{ _('Add a bill') }}</h3>
        </div>
    <form action="{{ url_for(".add_bill") }}" method="post" >
        {{ forms.add_bill(bill_form, title=False) }}
    </form>
    </div>

    {% if bills.count() > 0 %}
    <table id="bill_table" class="list_bills common-table zebra-striped">
        <thead><tr><th>{{ _("When?") }}</th><th>{{ _("Who paid?") }}</th><th>{{ _("For what?") }}</th><th>{{ _("For whom?") }}</th><th>{{ _("How much?") }}</th><th>{{ _("Actions") }}</th></tr></thead>
    <tbody>
    {% for bill in bills %}
    <tr class="{{ loop.cycle("odd", "even") }}" owers={{bill.owers|join(',','id')}} payer={{bill.payer.id}}>
            <td>{{ bill.date }}</td>
            <td>{{ bill.payer }}</td>
            <td>{{ bill.what }}</td>
            <td>{{ bill.owers|join(', ', 'name') }} </td>
            <td>{{ "%0.2f"|format(bill.amount) }} ({{ "%0.2f"|format(bill.pay_each()) }} {{ _("each") }})</td>
            <td class="bill-actions">
                <a class="edit" href="{{ url_for(".edit_bill", bill_id=bill.id) }}" title="{{ _("edit") }}">{{ _('edit') }}</a>
                <a class="delete" href="{{ url_for(".delete_bill", bill_id=bill.id) }}" title="{{ _("delete") }}">{{ _('delete') }}</a>
            </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% else %}
    <p>{{ _("Nothing to list yet. You probably want to") }} <a id="empty-new-bill" href="{{ url_for(".add_bill") }}">{{ _("add a bill") }}</a> ?</p>
    {% endif %}
</div>
<script>
        $("#sidebar").height( window.innerHeight-40 );
        $("#table_overflow").height( $("#sidebar").height()-120 );
        
</script>
{% endblock %}
