{% extends "layout.html" %}

{% block top_menu %}
<ul>
    <li><a href="{{ url_for("exit") }}">logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="leftmenu" class="span-6">
    <ul class="members">
    {% set balance = project.get_balance() %}
    {% for member in project.active_members %}
    <li class="{{ loop.cycle("even", "odd") }}">
    <span class="balance {% if balance[member] > 0 %}positive{% elif balance[member] < 0 %}negative{% endif %}">{{ balance[member] }}</span>
    {{ member.name }}
    <a class="remove" href="{{ url_for("remove_member", project_id=project.id, member_id=member.id) }}">delete</a></li>
    {% endfor %}
    </ul>
    <form action="{{ url_for("add_member", project_id=project.id) }}" method="post">
        {{ forms.add_member(member_form) }}
    </form>
</div>
<div id="content" class="uniForm span-18 last">
<a class="awesome button fright" href="{{ url_for('add_bill', project_id=project.id) }}">Add a bill</a>
    <form id="add_bill" action="{{ url_for('add_bill', project_id=project.id) }}" method="post" style="width: 400px; display: none">
        {{ forms.add_bill(bill_form) }}
    </form>

    {% if bills.count() > 0 %}
    <table>
        <thead><tr><th>When?</th><th>Who paid?</th><th>For what?</th><th>Owers</th><th>How much?</th><th>Actions</th></tr></thead>
    <tbody>
    {% for bill in bills %}
    <tr class="{{ loop.cycle("odd", "even") }}">
            <td>{{ bill.date }}</td>
            <td>{{ bill.payer }}</td>
            <td>{{ bill.what }}</td>
            <td>{% for ower in bill.owers %}{{ ower.name }} {% endfor %}</td>
            <td>{{ bill.amount }} ({{ bill.pay_each() }} each)</td>
            <td><a href="{{ url_for("edit_bill", bill_id=bill.id, project_id=project.id) }}">edit</a>
                <a href="{{ url_for("delete_bill", bill_id=bill.id, project_id=project.id) }}">delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% else %}
    <p>Nothing to list yet. You probably want to <a href="{{ url_for("add_bill", project_id=project.id) }}">add a bill</a> ?</p>
    {% endif %}
</div>
{% endblock %}
