{% extends "layout.html" %}

{% block js %}
    $('#cancel-form').click(function(){location.href={{ url_for(".list_bills") }};});
{% endblock %}
{% block navbar %}
    <li><a href="{{ url_for(".list_bills") }}">{{ _("Bills") }}</a></li>
    <li class="active"><a href="{{ url_for(".settle_bills") }}">{{ _("Settle") }}</a></li>
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="sidebar">

    <div id="table_overflow">
    <table class="balance table">
    {% set balance = g.project.balance %}
    {% for member in g.project.members | sort(attribute='name') if member.activated or balance[member.id] != 0 %}
    <tr id="bal-member-{{ member.id }}" action={% if member.activated %}delete{% else %}reactivate{% endif %}>
        <td class="balance-name">{{ member.name }}</td>
        <td class="balance-value {% if balance[member.id] > 0 %}positive{% elif balance[member.id] < 0 %}negative{% endif %}">
            {% if balance[member.id] > 0 %}+{% endif %}{{ balance[member.id] }}
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>

</div>
{% endblock %}


{% block content %}
    <table id="bill_table" class="split_bills table table-striped">
        <thead><tr><th>{{ _("Who pays?") }}</th><th>{{ _("To whom?") }}</th><th>{{ _("How much?") }}</th></tr></thead>
    <tbody>
    {% for bill in bills %}
    <tr class="{{ loop.cycle("odd", "even") }}" owers={{bill.owers|join(',','id')}} payer={{bill.payer.id}}>
            <td>{{ bill.ower }}</td>
            <td>{{ bill.payer }}</td>
            <td>{{ "%0.2f"|format(bill.amount) }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
