@import url('awesome-buttons.css');

/* awesome buttons extensions */
.awesome.blue {
    background-color: #0A50FF !important;
}
.awesome.red {
    background-color: #e33100 !important;
}
.awesome.green {
    background-color: #3ACC00 !important;
}
.awesome.orange {
    background-color: #ff8f0b !important;
}
.awesome.small { 
    padding: 4px 7px 5px !important; 
    font-size: 10px !important; 
}
.awesome.small:active { 
    padding: 5px 7px 4px !important; 
}
.awesome.large { 
    padding: 8px 14px 9px !important; 
    font-size: 14px !important; 
}
.awesome.large:active { 
    padding: 9px 14px 8px !important; 
}
