@import url('blueprint/screen.css');
@import url('awesome.css');

/** CSS3 fonts **/
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);


#title{
    margin-top: 10px;
}

.container h1{
    text-align: center;
    font-family: 'Lobster', arial, serif;
}

.fleft{
    float: left;
    margin-right: 20px;
}

#share{
    float:right;
}

#content h2 {
    font-weight: bold;
    text-shadow:  #DDD 2px 5px 2px;
}

#topmenu{
    margin-top: 15px;
}

#topmenu ul{
    float: right;
}
#topmenu ul li{
    float: right;
    list-style-type: none;
    margin-left: 10px;
}

/** links **/
a {
    color: #a45900;
}

/** Recipe **/
.recipe-title{
    font-family: 'Vibur', arial, serif;
    font-size: 2.5em;
}

.recipe-ingredients{
    float: right;
    width: 24em;
    margin: 0 40px;
    margin-top: -60px;
}

dl.recipe-ingredients
{
    width: 24em;
    margin: 2em 0;
    padding: 0;
    font-family: georgia, times, serif;
}

.recipe-ingredients dt
{
    width: 7em;
    float: left;
    margin: 0 0 0 0;
    padding: .5em;
    border-top: 1px solid #999;
    font-weight: bold;
}

dt { clear: both; }

.recipe-ingredients dd
{
    float: left;
    width: 13em;
    margin: 0 0 0 0;
    padding: .5em;
    border-top: 1px solid #999;
}
