@import url(http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

.topbar h3{ margin-left: 75px; }
.topbar ul{ padding-left: 75px; }
div.topbar ul.secondary-nav { padding-right: 75px; }
.logo{ font-family: 'Lobster', arial, serif; }
.balance tr td { font-weight: bold; }
.positive { color: green; }
.negative { color: red; }

.sidebar h2 { text-align: center; }
.sidebar button{ margin-top: 10px; float: right; }

.right h3 { float: right; }
#bills { color: black; }
