@import url('blueprint/screen.css');
@import url('awesome/awesome.css');
@import url('uniform/blue.uni-form.css');

/** CSS3 fonts **/
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);


#title{
    margin-top: 10px;
}

.container h1{
    text-align: center;
    font-family: 'Lobster', arial, serif;
}

.fleft{
    float: left;
    margin-right: 20px;
}

#content h2 {
    font-weight: bold;
    text-shadow:  #DDD 2px 5px 2px;
}

#topmenu{
    margin-top: 15px;
}

#topmenu ul{
    float: right;
}
#topmenu ul li{
    float: right;
    list-style-type: none;
    margin-left: 10px;
}

/** links **/
a {
    color: #a45900;
}
